* {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
}

body {
  Position:relative;
  background-color: #d9dcd6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(60, 108, 158);
}

section {
  width: 100%;
  text-align: centre;
}

h1 {
  font-size: 35px;
  text-align: centre;
}

h2 {
  font-size: 20px;
  text-align: centre;
}

.title-centre {
  text-align: center;
  margin-top: 150px;
}

.text-centre {
  text-align: center;
  margin-top: 10px;
}


.link {
  position: relative;
  margin-top: 200px;
  margin-left: 200px;
  font-size: 20px;
  color: #5c7998;
}

button {
  margin-top: 0px;
  margin-left: 600px;
  height: 40px;
  width: 120px;
  background-color:rgb(20, 41, 63);
  color: white;
  font-size: 30px

}

